.single-marker-map {
    max-height: 200px;
}

.markers-map {
    height: 100%;
}

.full-screen {
    position: absolute;
    top: 50px;
    bottom: 0;
    left: 0;
    right: 0;
}

.data {
    position: fixed;
    top: 50px;
    left: 0;
    bottom: 0;
    width: 60%;
    overflow-y: scroll;
    -webkit-overflow-scrolling: touch;
    background: #ffffff;
    .filters {
        padding: 1rem;
        width: 100%;
        position: relative;
    }
    .filter-form {
        padding: 1rem;
        background: #f5f5f5;
        width: 100%;
        position: relative;
    }
    .projects { 
        padding: 1rem;
        width: 100%;
        position: relative;
    }
}

.filter {
    padding: 1rem 0rem;
    margin: 2rem 0rem;
    border-bottom: 1px solid #dce0e0;
    span {
        padding-top: 11px !important;
        font-size: 1.7rem;
    }
    .actions {
        float: right;
    }
    .input-slider-range {
        margin: 1rem 0rem;
    }
    .slider-container {
        .slider-from {
            float: left;
        } 
        .slider-to {
            float: right;
        }
        .clear {
            clear: left; 
            display: block; 
        }
    }
}


.map {
    position: fixed;
    right: 0;
    left: auto;
    top: 50px;
    bottom: 0;
    display: block;
    width: 40%;
}

.search-box {
	background-color: #ffffff;
	border: 1px solid #dce0e0;
    position: relative;

	& i {
	    padding: 1rem;
	    font-size: 1.8rem;
	    display: inline;
	}

	&.search-box input {
	    border: none;
		padding: 1rem;
		width: 88%;
		display: inline-block;
	}	

    .result {
        position: absolute;
        top: 40px;
        z-index: 10;
        background-color: rgb(255, 255, 255);
        list-style: outside none none;
        margin: 0;
        padding: 0rem;
        .item {
            padding: .5rem 1rem;
            border-bottom: 1px solid #dce0e0;
            &:hover {
                background-color: #cecece;
            }
        }
    }
}

