<div class="single-project">
    <div class="map-header">
        <singlemarkermap marker="project"></singlemarkermap>
    </div>
    <div class="project-header ch-alt m-b-20">
        <h2>{{project.title}} <small ng-cloak>{{project.city + ', ' + project.state + ', ' + project.country}}</small></h2>
    </div>
    <div class="project-body">
    	<div class="card-container flex-grid">
			<div class="grid-element" ng-repeat="survey in project.Surveys">
		    	<surveycard project="project" survey="survey"></surveycard>
		    </div>
            <a class="btn bgm-red btn-float waves-effect" href="#/project"><i class="fa fa-plus"></i></a>
		</div>
    </div>
</div>
